section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    text-align: center;
    font-family: sans-serif;
    
}

.end-quiz {
    display:none;
    text-align: center;
}

.question {
    display: none;
    flex-direction: column;
    text-align: center;
    
}

.choices {
    display: block;
    color: white;
    background-color: purple;
    margin: 5px;
}

.feedback {
    display: none;
    border-top: solid;
}